<!DOCTYPE html>
<html lang="pt-BR">
<head>

    <meta charset="UTF-8">
    <title>Lista de Animais</title>
    <link rel="stylesheet" href="../static/Petlista.css">
</head>
<body>
<div class="topo">

    <h1>Animais cadastrados</h1>

</div>

 <div class="corpo">

            <h2>Lista</h2>

       {% if lista %}
            <hr>
            {% for animal in lista %}

                <p>
                    Nome: <a href="/detalhes?id={{animal.id}}">{{animal.nome}}</a>
                </p>
                <hr>

            {% endfor %}

    {% else %}

        <p>Nenhum animal cadastrado ainda.</p>
    {% endif %}

    <form action="/voltar" method="post">
        <button type="submit">Cadastrar novo</button>
    </form>


 </div>
</body>

</html>