<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Login - PetShop</title>
    <link rel="stylesheet" href="../static/PetSenha.css">
</head>
<body>
   <div class="topo">

    <h1> Área Restrita (apenas para o ADM)</h1>

    <form action="/verificarsenha" method="post">


        <input type="text" name="login" placeholder= "digite o login:" required>
        <br>

        <input type="password" name="senha" placeholder= "digite a senha:" required>
        <br>

        <button type="submit">Entrar</button>
    </form>
<br>

</div>
</body>
</html>
