<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <title>cadastro cliente</title>
    <link rel="stylesheet" href="../static/PetCadastro.css">
</head>
<body>
  <div class="topo">
    <h1>Cadastrar clientes</h1>
  </div>


  <div class="corpo">
    <h2>Cadastre-se</h2>
    <form action="/cadastrarcliente" method="post">


        <input type="text" name="nome" placeholder="Nome:" required>

     <br>
        <input type="email" name="email" placeholder=" Digite seu e-mail:" required>

     <br>
         <input type="password" name="senha" placeholder=" Digite sua senha:" required>
     <br>
        <button type="submit">Cadastrar</button>
    </form>

</div>

</body>
</html>


