<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>LOGIN</title>
    <link rel="stylesheet" href="../static/PetCadastro.css">
</head>
<body>
    <div class="topo">
    <h1> 🐶Pet shop Bicho Chique🐶 </h1>
    </div>
    <div class="corpo">
    <h2> Fazer Login </h2>
    <form action="/login" method="post">

        <select name="tipo">
            <option value="servidor">Servidor</option>
            <option value="cliente">Cliente</option>
        </select>
        <br>

      <input type="email" name="email" placeholder="Digite seu e-mail" required>
      <br>
      <input type="password" name="senha" placeholder="Digite sua senha" required>
      <br>

      <button type="submit">Entrar</button>
    </form>
    <a href="/cadastrarcliente" class="">Cadastre-se</a>


    </div>

</body>
</html>